.App {
  text-align: center;
  margin-top: 5%;
}

.profilePic{
  border-radius: 50%;
  height: 20%;
  width: 20%;
  transition-duration: 0.5s;
}

.myName{
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  transition-duration: 0.5s;
}

@media screen and (max-width:700px) {
  .myName{
    font-size: 20px;
  }
  .profilePic{
    margin-top: 7%;
  }
  
}

@media screen and (max-width:1000px) and (min-width:700px) {
  .myName{
    font-size: 35px;
  }

  .profilePic{
    margin-top: 3%;
  }
}

.fa {
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
